* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (min-width: 375px) {
  .header-bg {
    background-image: url(resimler/ophone.jpg);
    height: 500px;
  }
}
@media (max-width: 768px) {
  .font {
    margin-top: 15px;
  }
  .text p {
    font-size: 12px !important;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 48px !important;
  }
  p {
    font-size: 18px;
  }
  .font {
    padding-top: 125px;
    padding-bottom: 50px;
  }
  h3 {
    font-size: 30px;
  }
  .text p {
    padding: 0px 104px;
  }
  .icon h5 {
    font-size: 18px;
    line-height: 26px;
  }
  .text p {
    padding: 0px 144px !important;
  }
}

@media (max-width:992px) {
  main {
    background-image: url(resimler/wavy-background.png) !important;
    height: 3300px !important;
  }
}
@media (min-width:500px) and (max-width:768px) {
  main {
    background-image: url(resimler/wavy-background.png) !important;
    height: 3000px !important;
  }
}
@media (max-width:520px) {
  .text p {
    margin: -20px 0px !important;
  }
}
@media (min-width: 1024px) {
  .header-bg {
    background-image: url(resimler/odesktop.jpg);
    height: 500px;
  }
}
.header-bg {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-color: transparent;
}
.header-struction {
  align-items: center;
  justify-content: flex-end;
  margin: 0px auto;
}
@media (min-width: 1024px) {
  .header-struction {
    margin: 100px 100px 0px 0px;
    -webkit-box-pack: center;
    justify-content: center;
  }
}
@media (max-width:992px) {
  .costa-position {
    position: absolute;
    width: 150px !important;
    left: 50%;
    transform: translateX(-50%);
  }
  .art-img {
    width: 3000px !important;
  }
  .img-text {
    margin-top:20px ;
  }
  .navbar {
    width: 100%;
  }
  .navbar .container-fluid  {
    flex-direction: row-reverse;
  }
  .nav-item a {
    color: white !important;
    font-size: 1.7rem !important;
    font-weight: bold;
  }
.nav-bg {
  overflow: cover;
  background-image: url(resimler/waffle2-c338116ccb1be7ce5664d01546a5dc4c.svg) !important;
  width: 100vw; /* Ekran genişliği kadar */
  padding-left: 15px;
  padding-right: 15px;
}
}
@media (min-width: 1275px) {
  .header-struction {
    margin: 50px 140px 0px 0px;
  }
}
.header-text-h1 {
  color: rgb(109, 31, 55);
  font-size: 36px;
}
.header-text-p {
  color: rgb(109, 31, 55);
  font-size: 20px;
  font-family: "Costa Text Regular", sans-serif;
}
.delivery {
  background-color: rgb(181, 17, 68);
}
.delivery a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 20px;
}
.delivery d {
  position: relative;
}
.main {
  background-image: url(resimler/wavy-background.png);
  height: 1900px;
}
h3 {
  font-family: "Costa Text Bolder", sans-serif;
  color: rgb(109, 31, 55);
}
button {
  background-color: rgb(109, 31, 55);
  color: white;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
}
button:hover {
  background-color: rgb(193, 16, 66);
}
.choice {
  padding: 0px 16px 80px 16px;
}
/* .img-fluid {
  max-width: 300px;
} */
.art {
  background-color: white;
}
.text p {
  font-size: 14px !important;
  padding: 0px 32px;
}
.top {
  background-color: rgb(181,17,68);
  color: white;
}
.top ul li {
  list-style-type: none;
}
.top h6 {
  margin-left: 2rem;
}
.top a {
  text-decoration: none;
  color: white;
  font: size 2rem;
}
.top h6 {
  font-size: large;
}
.bottom {
  background-color: rgb(109,31,55);
}
.bottom a {
  text-decoration: none;
  color: white;
}
.bottom ul li {
  list-style-type: none;
  font-size: 18px;
}
.fb img {
  width: 1rem;
}
@media (min-width:768px) {
  .privacy {
    grid-template-columns: 1fr 1fr 1fr !important;
    column-gap: 48px;
    display: grid;
  }
}
.transparent {
  background:transparent;
  position: absolute;
  z-index: 2;
}
.nav-item a {
  color: white !important;
  font-size: 1.3rem;
  font-weight: bold;
}
.art a {
  color: rgb(109,31,55) ;
  font-weight: bolder;
  font-size: 20px;
}
@media (max-width:990px) {
 /* .offcanvas-header {
  background-color: rgb(109,31,55) ;
}
.offcanvas-body {
  background-color: rgb(121, 15, 47) ;
}  */
}
#header-mobile { display: none;}
.offcanvas {
  width: 100% !important;
}
.offcanvas-header {
  text-align: center;
}
.offcanvas-img {
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    object-fit: contain;
    top: 1.5rem;
}
.offcanvas-btn {
margin: 0 !important; 
margin-top: 32px !important;
width: 25px;
}


    