* {
  box-sizing: border-box;
}

header {
  background-image: url(/our-coffees-img/CO84532---Autumn-2023-Food-Photoshoot---Shot-1-desktop-1600x464.jpg);
  width: 100%;
  background-position: center;
}
.mobile {
  background-image: url(/our-coffees-img/wavy-background.png);
  background-repeat: repeat;
  background-size: 320px 320px !important;
}

.ata {
  font-size: 48px;
  color: rgb(105, 27, 50);
}

.ta-1 {
  color: rgb(105, 27, 50);
}
.bar {
  background-color: rgb(181, 17, 68);
}

footer {
  background-color: rgb(181, 17, 68);
}
div.footer-bottom {
  background-color: rgb(109, 31, 55);
}

.lnk {
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
main {
  background-image: url(/our-coffees-img/wavy-background.png);
  background-repeat: repeat;
  background-size: 320px 320px !important;
}
.teaser-header {
  font-size: 30px;
  font-weight: bolder;
  color: rgb(109, 31, 55);
}
.teaser-second-header {
  font-size: 24px;
  color: rgb(109, 31, 55);
  font-weight: bolder;
}
.teaser-p {
  font-size: 18px;
  font-weight: normal;
  color: black;
}

.link {
  color: rgb(109, 31, 55);
  text-decoration: underline 2px;
  text-underline-offset: 4px;
}

.go-to-go {
  background-color: rgb(109, 31, 55);
  color: white;
  padding: 18px 27px;
}

#top-btn {
  font-size: 18px;
  background-color: #6c1f37;
  color: white;
  font-weight: bolder;
  border: none;
  padding: 18px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 35px;
  width: 180px;
}

@media (min-width: 576px) {
  header {
    height: 440px;
    background-position: -650px;
  }
  .ata {
    font-size: 25px;
  }
  .ta-1 {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  #top-btn {
    width: 170px;
  }

  #top-btn:hover {
    background-color: rgb(181, 17, 68);
  }

  .triangle-right {
    content: "";
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-left: 6px solid white;
    border-bottom: 6px solid transparent;
    display: inline-block;
    justify-content: center;
  }

  .triangle-bottom {
    content: "";
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-left: 6px solid rgb(109, 31, 55);
    border-bottom: 6px solid transparent;
    display: inline-block;
    justify-content: center;
  }
  header {
    height: 440px;
    background-position: -650px;
  }
}

@media (min-width: 992px) {
  header {
    height: 440px;
    background-position: -420px;
  }

  #top-btn {
    width: 170px;
  }
}

@media (min-width: 1200px) {
  header {
    height: 464px;
    background-position: center;
  }
  #top-btn {
    width: 170px;
  }
}
@media (min-width: 1400px) {
  #top-btn {
    width: 180px;
  }
}

/* copy css */

body {
  margin: 0;
  padding: 0;
  font-family: "Costa Text Regular", sans-serif;
  color: rgb(34, 35, 34);
  font-weight: normal !important;
  background-color: rgb(255, 255, 255) !important;
  background-image: url(img/wavy-background-180786598e741294f08ecaf1990ddc76.png) !important;
  background-repeat: repeat !important;
  background-size: 320px 320px !important;
  height: 100%;
  overflow-x: hidden;
}
.head-text {
  overflow: hidden;
  background-color: rgb(176, 221, 245);
  /*   padding : 10px 16px; */
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

p.text-center {
  margin: auto;
  padding: 0.7rem;
  font-family: "Costa Text Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: rgb(109, 31, 55);
  font-weight: normal !important;
}
p.text-center a {
  margin: auto;
  padding: 0.7rem;
  font-family: "Costa Text Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: rgb(109, 31, 55);
  font-weight: normal !important;
}

#main-area {
  background-image: url(img/summer24-whippedcoffees-homepagehero-1600x640.jpg);
  height: 640px;
  width: 100vw;
  background-size: cover;
  background-position: center bottom;
}

#main-area h1 {
  position: absolute;
  margin-top: 10%;
  margin-left: 10%;
  color: white;
  font-weight: bolder !important;
}

#main-area h5 {
  position: relative;
  padding-top: 14%;
  padding-left: 10%;
  color: white;
  font-weight: bolder !important;
}

#main-area button.btn {
  margin-left: 10%;
}

.header-desktop {
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  color: white;
  margin: 0px 16px;
  font-family: "Costa Text Bold", sans-serif;
  font-size: 16px;
  font-weight: normal !important;
  list-style-type: none;
  line-height: 28px;
  font-weight: bold;
}
.gradient {
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  height: 128px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.headline {
  z-index: 11;
}

div#content-head {
  text-align: center;
  color: rgb(109, 31, 55);
  margin-bottom: 56px;
}

#content-head h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bolder !important;
}

div#first-one {
  background-color: rgb(176, 221, 245);
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  min-height: 350px;
  padding: 0;
}

div#second-one {
  background-color: rgb(245, 142, 144);
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  min-height: 350px;
  padding: 0;
}

div#third-one {
  background-color: rgb(207, 168, 202);
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  min-height: 350px;
  padding: 0;
}

div#bottom-texts {
  margin: 2% 12% 5%;
  font-size: 14px;
  line-height: 22px;
  font-weight: bolder !important;
}
div#bottom-texts a {
  color: rgb(109, 31, 55);
  text-decoration: underline 2px;
  text-underline-offset: 4px;
  overflow-wrap: break-word;
  font-weight: bolder !important;
}

div#bottom-texts a:hover {
  color: #b51244;
}

footer.container-fluid {
  background: rgb(181, 17, 68);
  color: rgb(255, 255, 255);
  font-family: "Costa Text Regular", sans-serif;
  line-height: 1.5;
  font-weight: bolder !important;
}

div#footer-details {
  padding: 64px 83px 0px;
  margin-bottom: 3%;
}

#footer-details ul {
  padding: 0 !important;
  margin: 0 !important;
}

#footer-details li {
  margin: 0 0 12px !important;
  display: block;
}

#footer-details h6 {
  margin: 0px 0px 40px;
  font-size: 18px;
  line-height: 28px;
  font-weight: bolder !important;
}

#footer-details a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-decoration: none;
}

#footer-details a:hover {
  color: #c1bdbd;
}

div#footer-others {
  background-color: #6c1f37;
  padding: 30px 83px 50px;
  margin-top: 40px;
}

#footer-others ul {
  padding: 0 !important;
  margin: 0 !important;
}

#footer-others li {
  margin: 0 0 12px !important;
  display: block;
  font-weight: 500 !important;
  font-size: 18px;
  line-height: 28px;
}

#footer-others a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-decoration: none;
}

#footer-others a:hover {
  color: #c1bdbd;
}

footer img {
  margin-right: 1%;
  height: 25px;
}

#header-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  #main-area {
    background-image: url(img/summer24-whippedcoffees-homepagehero-640x1126.jpg);
    height: 640px;
    width: 100vw;
    background-size: cover;
    background-position: center bottom;
  }
  div#first-one {
    margin-bottom: 15px;
  }
  div#second-one {
    margin-bottom: 15px;
  }
  div#third-one {
    margin-bottom: 15px;
  }
  .header-desktop {
    display: none;
  }
  #header-mobile {
    display: block;
  }
  #main-area h1 {
    margin-top: 15%;
  }
  #main-area h5 {
    padding-top: 25%;
  }
  .topnav {
    overflow: hidden;
    background-color: transparent;
    position: sticky;
  }
  .topnav #myLinks {
    display: none;
  }
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .topnav a.icon {
    background: transparent;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  img#hover-logo {
    height: 10vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 3%;
  }
}
